[Desktop Entry]
Encoding=UTF-8
Exec=~/netbeans-dev-201507240001/bin/netbeans
#Icon=/home/user/eclipse-version/eclipse/icon.xpm
Type=Application
Terminal=false
Comment=Plataforma de Desarrollo Integrado
Name=NetBeans 8
GenericName=netbeans8.0.2 DEV
StartupNotify=false
Categories=Utility;Development;TextEditor;
